/* colors */

body {
	background-color: #616161 !important;
}
form {
	position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
	display: block; width: 100%; max-width: 400px; background-color:rgba(255,255,255,0.7);
	margin: 0; padding: 2.25em; box-sizing: border-box; border: solid 1px #DDD; border-radius: .5em;    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-info {
	background-color: #47A9D2 !important;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

